doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title モックアップ

    link(rel="stylesheet", href="src/bundle.sass")

  body
    #container
      #header
        h1
          a
            span

        h2
          span

        #top-bar

        #login-status

        #header-extra-div-1
          span

        #header-extra-div-2
          span

        #header-extra-div-3
          span

      #content-wrap
        #side-bar

        #main-content

          #action-area-top

          #page-title

          #breadcrumbs

          #page-content

          #page-info

          #page-options-bottom.page-options-bottom

          #page-options-bottom-2.page-options-bottom

          #action-area

      #footer
        .options

      #license-area

    #extra-div-1
      span

    #extra-div-2
      span

    #extra-div-3
      span

    #extra-div-4
      span

    #extra-div-5
      span

    #extra-div-6
      span
