doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title モックアップ

    link(rel="stylesheet", href="../bundle.sass")

  body
    .l-Hero.is-FullHeight
      .l-Hero__Head

      .l-Hero__Body
        .l-Container
          h1 Title

        .l-Container
          h1 Title

        .l-Container
          h1 Title

      .l-Hero__Foot
