doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="preconnect" href="//fonts.gstatic.com")
    link(href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./bundle.sass")

  body

    .l-Hero

      .l-Section

        .l-Container

          .l-Row.is-Mobile.is-Content--Center

            .l-Col.is-Narrow
              .u-Text.is-Size--1 鵺

          .l-Row.is-Mobile.is-RtL.is-Content--Around--X

            .l-Col.is-Narrow

              .u-Text.is-Vertical ぬばたまの

            .l-Col.is-Narrow

              .u-Text.is-Vertical 黝き月か

            .l-Col.is-Narrow

              .u-Text.is-Vertical 吼ゆると

    .l-Section

      .l-Container

        .l-Row.is-Mobile.is-Multiline

          .l-Col.is-12--Mobile.is-4--Desktop

            .p-Penta

              div

                .p-Penta__Control

                  a.c-Button(href="#about")

                .p-Penta__Control

                  a.c-Button(href="#background")

                .p-Penta__Control

                  a.c-Button(href="#tales")

                .p-Penta__Control

                  a.c-Button(href="#artwork")

                .p-Penta__Control

                  a.c-Button(href="#writing-guide")


          .l-Col.is-12--Mobile.is-8--Desktop

            .s-Content

              #about

                h1 鵺-斎宮について

                dl

                  dt
                    strong 性別

                  dd 女性


                  dt
                    strong 役職

                  dd 財団81管区七号理事つまり財団日本支部理事“鵺”として言及される。また、次期財団日本支部理事“鵺”であり、現在は候補であるとの情報もある。


                  dt
                    strong 通称

                  dd 理事としての通称は「鵺」である。鵺という架空の動物は日本において様々な形で伝わっている。多くの場合、鵺は複数の動物のキメラとして描写される。理事“鵺”も、多くの場所で活躍しているという情報があるにも関わらず、妖怪のように正体が掴みにくい理事である。


                  dt
                    strong 識別名

                  dd 他の鵺と区別するために「斎宮」と呼ばれる識別名を使用している。


                  dt
                    strong 名前

                  dd 有栖川宿、黒井愛、よとりなどの名前で言及される。本名か偽名か、またはかつての本名かどうかは不明。理事はかつての本名を抹消することがある。


                  dt
                    strong 関係

                  dd 蒐集院との関係が深く、財団内部では蒐集院閥と関連付けられて言及されることが多い。


              #background

                h1 関連情報


                h2 用語集

                dl

                  dt
                    strong 日本支部

                  dd 日本とその周辺地域を管理する財団の支部。成立の際に蒐集院を吸収した。日本支部のセキュリティ施設は81から始まるナンバーを持つ。


                  dt
                    strong 日本支部理事

                  dd 日本支部を監督し、O5理事会との連絡を行う役割を担う7人の理事から構成される日本支部の中枢組織。


                  dt
                    strong 蒐集院

                  dd かつて日本においてアノマリーを蒐集していた大規模な組織。殆どが財団やGOCに吸収された。


              #tales

                h1 Tales


              #artwork

                h1 アートワーク


              #writing-guide

                h1 執筆ガイド

                h2 概要

                p.s-Title アナタは以下の条件に従う限り、自由に:

                ul

                  li

                    strong 作成
                    | &nbsp- SCPオブジェクト、Tale、アートワーク、そしてそれらの翻訳版などの派生物を作成できます。

                  li

                    strong 掲載
                    | &nbsp- アナタが作成した派生物を、このページに掲載できます。


                p.s-Title あなたの従うべき条件は以下の通りです。

                ul

                  li

                    strong キャラクタータグの付与
                    | &nbsp- アナタが作成した派生物に、キャラクタータグ・
                    a(href="//scp-jp.wikidot.com/system:page-tags/tag/鵺-斎宮") 鵺-斎宮
                    | を付与してください。

                h2 説明

                p ハブに書かれた内容は、あくまで既存作品に基づいた傾向や指針にすぎないことに注意してください。このキャラクターはアートワーク日本支部理事「鵺」が発端となっているため、各々のヘッドカノンが比較的自由に表現されています。

                h3 このキャラクターについて

                p このキャラクターは、さまざまな世界線で異なった行動を取るでしょう。ある世界線において、他の世界線では考えられないような行動を取ったりすることもあり得ます。通常のカノンでは正常の守り手もしくは財団内部の政争の一要素であったはずの彼女は、わるいざいだんにおいては燔祭の生贄として描写されたり、1998年にヴェールが捲られた世界線では、その顔をテレビに映すほど有名になった一方かつての親友との繋がりが描写されたりするなど、変化に富んだキャラクターです。あなたは、記事を執筆する際、彼女の出自、性格、年齢を、日本支部の理事という役職を際立たせるために自由に描写できます。
