.l-Row {
  $SPACING_UNIT: .75rem;

  display: flex;
  margin: {
    top: - $SPACING_UNIT;
    left: - $SPACING_UNIT;
    right: - $SPACING_UNIT;
    bottom: - $SPACING_UNIT;
  };

  &:not(:last-child) {
    margin: {
      bottom: 1.5 - $SPACING_UNIT;
    };
  }

  @at-root .l-Col {
    display: block;
    flex: {
      basis: 0;
      grow: 1;
      shrink: 1;
    };
    padding: {
      top: $SPACING_UNIT;
      left: $SPACING_UNIT;
      right: $SPACING_UNIT;
      bottom: $SPACING_UNIT;
    };

    @mixin size($device) {

      @for $var from 1 to 13 {

        &.is-Span--#{$var}#{$device} {
          flex: none;
          width: floor(100 / 12 * $var) + #{'%'};
        }

        &.is-Offset--#{$var}#{$device} {
          margin: {
            left: floor(100 / 12 * $var) + #{'%'};
          };
        }

      }

    }

    // Mobile (is All)
    @include size($device: null);

    // Mobile only
    @include max-screen($max: $TABLET - 1) {
      @include size($device: --MobileOnly);
    };

    // Tablet
    @include min-screen($min: $TABLET) {
      @include size($device: --Tablet);
    };

    // Tablet only
    @include screen($min: $TABLET, $max: $DESKTOP - 1) {
      @include size($device: --TabletOnly);
    };

    // Desktop
    @include min-screen($min: $DESKTOP) {
      @include size($device: --Desktop);
    };

    // Desktop only
    @include screen($min: $DESKTOP, $max: $WIDESCREEN - 1) {
      @include size($device: --DesktopOnly);
    };

    // Widescreen
    @include min-screen($min: $WIDESCREEN) {
      @include size($device: --Widescreen);
    };

    // Widescreen only
    @include screen($min: $WIDESCREEN, $max: $FULL_HD - 1) {
      @include size($device: --WidescreenOnly);
    };

    // Full HD
    @include min-screen($min: $FULL_HD) {
      @include size($device: --FullHD);
    };

  }

  &.is-Gap {

    @mixin gap($device) {

      @for $var from 0 to 9 {

        &--#{$var}#{$device} {
          margin: {
            left: - 2 / 8 * $var + rem;
            right: - 2 / 8 * $var + rem;
          };

          >.l-Col {
            padding: {
              left: 2 / 8 * $var + rem;
              right: 2 / 8 * $var + rem;
            };
          }

        }

      }

    }

    // Mobile (is All)
    @include gap($device: null);

    // Mobile only
    @include max-screen($max: $TABLET - 1) {
      @include gap($device: --MobileOnly);
    };

    // Tablet
    @include min-screen($min: $TABLET) {
      @include gap($device: --Tablet);
    };

    // Tablet only
    @include screen($min: $TABLET, $max: $DESKTOP - 1) {
      @include gap($device: --TabletOnly);
    };

    // Desktop
    @include min-screen($min: $DESKTOP) {
      @include gap($device: --Desktop);
    };

    // Desktop only
    @include screen($min: $DESKTOP, $max: $WIDESCREEN - 1) {
      @include gap($device: --DesktopOnly);
    };

    // Widescreen
    @include min-screen($min: $WIDESCREEN) {
      @include gap($device: --Widescreen);
    };

    // Widescreen only
    @include screen($min: $WIDESCREEN, $max: $FULL_HD - 1) {
      @include gap($device: --WidescreenOnly);
    };

    // Full HD
    @include min-screen($min: $FULL_HD) {
      @include gap($device: --FullHD);
    };

  }

}
