.l-Row {

  margin: {
    top: -.75rem;
    left: -.75rem;
    right: -.75rem;
    bottom: 1.5rem - .75rem;
  };

  &:last-child {

    margin-bottom: -.75rem;

  }

  @each $nameSpace, $screen in (

    "Mobile": 0,
    "Tablet": 768px,
    "Desktop": 1024px

  ) {

    &.is-#{$nameSpace} {

      @include min-screen($min: $screen) {

        display: flex;

      }

    }

  }

  &.is-Multiline {

    flex-wrap: wrap;

  }

  @each $nameSpace, $direction in (

    "LtR": row,
    "RtL": row-reverse,
    "TtB": column,
    "BtT": column-reverse

  ) {

    &.is-#{$nameSpace} {

      flex-direction: $direction;

    }

  }

  @each $nameSpace, $position in (

    "Left": flex-start,
    "Center": center,
    "Right": flex-end,
    "Between--X": space-between,
    "Around--X": space-around

  ) {

    &.is-Content--#{$nameSpace} {

      justify-content: $position;

    }

  }

  @each $nameSpace, $position in (

    "Top": flex-start,
    "Middle": center,
    "Bottom": flex-end,
    "Between--Y": space-between,
    "Around--Y": space-around

  ) {

    &.is-Content--#{$nameSpace} {

      align-content: $position;

    }

  }

  @each $nameSpace, $position in (

    "Top": flex-start,
    "Middle": center,
    "Bottom": flex-end,
    "Baseline": baseline

  ) {

    &.is-Items--#{$nameSpace} {

      align-content: $position;

    }

  }

}

.l-Col {

  flex: {
    basis: 0;
    grow: 1;
    shrink: 1;
  }
  padding: .75rem;

  @each $nameSpace, $screen in (

    "Mobile": 0,
    "Tablet": 768px,
    "Desktop": 1024px

  ) {

    @include min-screen($min: $screen) {

      @for $size from 1 to 13 {

        &.is-#{$size}--#{$nameSpace} {

          flex: none;
          width: calc(100% / 12 * #{$size});

        }

      }

    }

  }

  &.is-Narrow {

    flex: none;

  }

}
